<div class="menu-expand mega-menu-promotion-container">
  <div class="chantilly-container">
    <div class="mega-menu-promotion row">
      <div class="text-side-container col col-6">
        <div class="text-side">
          <span class="sub-heading uppercase">
            ETHICAL ETHOS
          </span>
          <h1 class="major-title">Functionality and sustainability</h1>
          <p class="sub-text">
            A sustainable lifestyle is part of our DNA and we strive to get better and better at it. Discover our most sustainable collections of the season.
          </p>
          <div class="btn-area">
            <a href="#" class="chantilly-button button-hover-orange uppercase">Our Story</a>
            <a href="#" class="chantilly-button button-light uppercase">Shop</a>
          </div>
        </div>
      </div>
      <div class="img-side col col-6">
        <div class="promotion-img-container">
          <div class="blur-overlay chantilly-img-ratio-container"></div>
          <img class="chantilly-img-ratio absolute" src="https://cdn.shopify.com/s/files/1/0238/8505/files/wide-promo_1080x.jpg?v=1647518365" alt=""/>
        </div>
      </div>
    </div>
  </div>
</div>