{% for link in link.links %}
  {% if link.child_current or link.handle == collection.handle %}
    <div class="container">
      <div class="relative-collections-container row gx-4 gx-md-5 gy-4 gy-md-0">
        {% if link.handle == collection.handle %}
          {% for linkChild in link.links limit: 4 %}
            {% if collection.handle != linkChild.handle %}
              {% for collectionn in collections %}
                {% if collectionn.handle == linkChild.handle %}
                  <div class="col col-6 col-md-3">
                    {% render 'render-relative-collection', with renderedCollection : collectionn %}
                  </div>

                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% else %}
          {% for linkChild in link.links %}
            {% if collection.handle != linkChild.handle %}
              {% for collectionn in collections %}
                {% if collectionn.handle == linkChild.handle %}
                  <div class="col col-6 col-md-4 col-lg-3">
                    {% render 'render-relative-collection', with renderedCollection : collectionn %}
                  </div>

                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}

        {% endif %}
      </div>
    </div>
    {% break %}
  {% endif %}
  {% render 'render-relative-collections', with link: link %}
  {% else %}

{% endfor %}