{%- comment -%}
  Renders a list relative collection
  Accepts:
  - links: {Array} link of list navigation
  - isRenderedList: {Boolean}
  - isChildrenListLink: {Boolean}
{%- endcomment -%}
{% if isRenderedList %}
  {% assign size = 4 %}
  {% unless isChildrenListLink %}
    {% assign size = 5 %}
  {% endunless %}
  <div class="relative-collections-container row gx-4 gx-md-5 gy-4 gy-md-0">
    {% for link in links limit: size %}
      {% if isChildrenListLink %}
        {% for renderCollection in collections %}
          {% if renderCollection.handle == link.handle %}
            <div class="col col-6 col-md-3">
              {% render 'render-relative-collection', with renderedCollection : renderCollection %}
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        {% if link.handle != collection.handle %}
          {% for renderCollection in collections %}
            {% if renderCollection.handle == link.handle %}
              <div class="col col-6 col-md-3">
                {% render 'render-relative-collection', with renderedCollection : renderCollection %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

{% else %}
  {% for link in links %}
    {% if link.handle == collection.handle %}
      {% if link.links.size != 0 %}
        {% render 'render-relative-collections', links: link.links, isRenderedList: true, isChildrenListLink: true %}
      {% else %}
        {% render 'render-relative-collections', links: links, isRenderedList: true, isChildrenListLink: false %}
      {% endif %}
      {% break %}
    {% elsif link.child_current %}
      {% render 'render-relative-collections', links: link.links%}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}