<div class="upper-footer-bar">
  <div class="chantilly-container p-4">
    <div class="row gx-2 gy-4">
      <div class="col-6 col-md-3">
        <div class="icon-with-caption">
          <i class="bi bi-truck"></i>
          <span>Free shipping</span>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-with-caption">
          {% render 'tag-icon' %}
          <span>New styles</span>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-with-caption">
          <i class="bi bi-gift"></i>
          <span>Gift cards</span>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-with-caption">
          <i class="bi bi-star"></i>
          <span>5.0 Trustpilot rating</span>
        </div>
      </div>
    </div>
  </div>
</div>