/* Button */
.chantilly .chantilly-button {
  --btn-padding-x: 3rem;
  --btn-padding-y: 1.5rem;
}

.chantilly .chantilly-button.button-dark {
  --btn-bg: black;
  --btn-color: white;
  --btn-border: blank;
  --btn-opacity: 1;
  --btn-hover-bg: white;
  --btn-hover-color: black;
  --btn-hover-border: black;
}

.chantilly .chantilly-button.button-light {
  --btn-bg: white;
  --btn-color: black;
  --btn-border: black;
  --btn-opacity: 1;
  --btn-hover-bg: black;
  --btn-hover-color: white;
  --btn-hover-border: black;
}

/* Input */
.chantilly .chantilly-input-primary {
  --input-border-color: #dbdcdc;
  --input-hover-border-color: #b0b1b2;
  --input-focus-border-color: #b0b1b2;

}

/* Text */
.chantilly .chantilly-text {
  --text-color: #707173;
}

.chantilly .chantilly-anchor-text {
  --anchor-text-color: #c16452;
}