/* Pre Defined */
.chantilly {
  /* Black Color */
  --black-color: #212b36;
  /* Input */
  --input-border-color: #dbdcdc;
  --input-hover-border-color: #b0b1b2;
  --input-focus-border-color: #b0b1b2;

  /* Button */
  /* Padding */
  --btn-padding-x: 2.5rem;
  --btn-padding-y: 1.56rem;

  --btn-bg: var(--black-color);
  --btn-color: white;
  --btn-border: blank;
  --btn-opacity: 1;
  --btn-hover-bg: white;
  --btn-hover-color: var(--black-color);
  --btn-hover-border: var(--black-color);

  /* Text */
  --text-color: #707173;

  /* Anchor Text */
  --anchor-text-color: #c16452;
  --anchor-text-hover-color: #c16452;
}

/* Other Options*/
/* Button */

.chantilly .chantilly-button.button-dark {
  --btn-bg: var(--black-color);
  --btn-color: white;
  --btn-border: blank;
  --btn-opacity: 1;
  --btn-hover-bg: white;
  --btn-hover-color: var(--black-color);
  --btn-hover-border: var(--black-color);
}

.chantilly .chantilly-button.button-light {
  --btn-bg: white;
  --btn-color: var(--black-color);
  --btn-border: var(--black-color);
  --btn-opacity: 1;
  --btn-hover-bg: var(--black-color);
  --btn-hover-color: white;
  --btn-hover-border: var(--black-color);
}

.chantilly .chantilly-button.button-light.light-fill {
  --btn-border: white;
}

.chantilly .chantilly-button.button-hover-orange {
  --btn-hover-border: #c16452;
  --btn-hover-color: white;
  --btn-hover-bg: #c16452;
}

/* Input */
.chantilly .chantilly-input-primary {
  --input-border-color: #dbdcdc;
  --input-hover-border-color: #b0b1b2;
  --input-focus-border-color: #b0b1b2;
}

/* Text */
.chantilly .chantilly-text {
  --text-color: #707173;
}

.chantilly .chantilly-anchor-text {
  --anchor-text-color: #c16452;
}

.chantilly .anchor-grey-text {
  --anchor-text-color: #707173;
  --anchor-text-hover-color: #c16452;
}

.chantilly .anchor-black-text {
  --anchor-text-color: var(--black-color);
  --anchor-text-hover-color: #707173;
}
